<!DOCTYPE html>
<html>
<head>
  <title>Message Details</title>
<link rel="stylesheet" href="/open.css">
   
</head>
<body>
  <div class="card">
    <h1>Message Details</h1>

    <div class="field">
      <span class="label">User:</span>
      <span class="value"><%= message.user %></span>
    </div>

    <div class="field">
      <span class="label">Message:</span>
      <span class="value"><%= message.text %></span>
    </div>

    <div class="field">
      <span class="label">Date:</span>
      <span class="value"><%= message.added.toLocaleString() %></span>
    </div>

    <a class="back" href="/">← Back</a>
  </div>
</body>
</html>